APP_PORT=8080

CCF_DB_DRIVER="postgres"
CCF_DB_CONNECTION="host=db user=postgres password=postgres dbname=ccf port=5432 sslmode=disable"

CCF_JWT_SECRET="some-secret"
CCF_JWT_PRIVATE_KEY=private.pem
CCF_JWT_PUBLIC_KEY=public.pem
# To use in-memory key generation, remove/comment out both CCF_JWT_PRIVATE_KEY and CCF_JWT_PUBLIC_KEY lines.
# Do not set these variables to empty strings.

CCF_API_ALLOWED_ORIGINS="http://localhost:3000,http://localhost:8000"
CCF_RISK_CONFIG="risk.yaml"

CCF_ENVIRONMENT="" # Defaults to production. 
## This configuration disables cookie setting to allow testing on Safari
## It is insecure so use it with caution
#CCF_ENVIRONMENT="local"

# Pprof debugging (disabled by default)
# Enable this for profiling during load tests
CCF_PPROF_ENABLED=false
CCF_PPROF_PORT=6060
